/** BASE **/
html {
    font-size: 16px;
    text-align: center;
}
* {
    box-sizing: border-box;    
}
body {
    font-family: 'Montserrat', sans-serif;
    padding: 0.5rem;
}

/** GRID **/
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.full-width {
    width: 100%;
    margin: 0 auto;
}
.third-width {
    width: 100%;
    float: left;
}

/** FONTS **/
h1,
h2,
h3,
p,
a {
    line-height: 1.5rem;
}
h1 {
    text-transform: uppercase;
    font-size: 2rem;

}
h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.25rem;
    color: #77a446;
}
h3 {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.5rem;
}
p {
    font-size: 1rem;
}

/** HEADER **/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: auto;
    background: white;
    top: 0;
    left: 0;
}

/** SITE TITLE**/
.site-title {
    position: relative;
}
h1 span {
    color: #77a466;
}

/** NAVIGATION MENU**/
nav {
    width: 100%;
    position: relative;
}
#menu-icon {
    padding: 0.5rem 0 0.5rem 0;
    justify-content:center;
    background-color: #77a446;
    width: 100%;
    color: #ffffff;
    font-size: 1rem;
}
.collapsed {
    display:none;
}
.open {
    display: flex;
    flex-direction: column;
}
.navlink {
    padding: 0.5rem;
}
nav a {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.75rem;
    text-decoration: none;
    padding: 0 0.5rem;
}
nav a {
    font-weight: 700;
    color: #77a466;
    text-transform: uppercase;
    font-size: 0.75rem;
    text-decoration: none;
    padding: 0 0.5rem;
}

/*** TOP SECTION ***/
#top-section {
    margin-top: 100px;
}
#top-section .full-width {
    margin-bottom: 2.5rem;
}
.top-image {
    width: 100%;
    margin: 0;
}
img {
    width: 100%;
    border-top: #77a466 solid 3px;
    border-bottom: #77a466 solid 3px; 
}

/*** BOTTOM SECTION ***/
#bottom-section .full-width {
    border-top: solid 1px #eeeeee;
}
#todays-special p {
    color: #77a446;
}
#reviews {
    border: solid 1px #eeeeee;
}
#reviews {
    padding: 0 0.75rem 0 0.75rem;
}

/** FOOTER **/
footer {
    clear: both;
}
footer .full-width {
    border-top: solid 1px #eeeeee; 
}
footer p {
    font-size: 0.75rem;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}
footer span {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    text-transform: lowercase;
    color: #77a446;
}

/** TABLET (>768px and <940px) **/
@media all and (min-width: 768px) {
    /** GRIDS **/
    .third-width {
        width: 33.3%;
        float: left;
    }
    
    header {
        justify-content: space-between;
    }
    
    /** NAV **/
    nav {
        padding:0;
        width: auto;
    }
    #menu-icon {
        display:none;
    }
    #navbar, .collapsed, .open {
        display:flex;
        flex-direction: row;
    }
    /** FOOTER **/
    footer p {
        font-size: 1rem;
    }
}

/** DESKTOP (940px) **/
@media all and (min-width: 940px) {
    /** BASE **/
    html {
        text-align: left;
    }
    /** GRIDS **/
    html {
        text-align: left;
    }
    .third-width, #reviews {
        padding: 1rem;
    }
    /** HEADER **/
    header {
        flex-direction: row;
    }
}